<table class="table">

    <!-- <ol> -->
    <% houses.forEach( function(model) { %>
    <!-- <li> -->
    <tr>
        <th><%= model.id %></th>
        <th><%= model.title %></th>
        <th><%= model.estate %></th>
        <th><a href="">edit</a></th>
    </tr>

    <!-- </li> -->

    <% }); %>
    <!-- </ol> -->


</table>