<table class="table">

    <% houses.forEach( function(model) { %>
   
    <tr>
        <th><%= model.id %></th>
        <th><%= model.title %></th>
        <th><%= model.URL%></th>
        <th><a href="/house/dp">edit</a></th>
    </tr>

    <% }); %>

</table>