<!--create.ejs-->
<form action="/house/create" method="POST">






    <!-- The 12 cards -->

    <div id="div01" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <h1>Property Create form</h1>
    </div>

    <div id="div02" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>proper title:</label>
        <input type="text" class="form-control" name="House[title]" required>
    </div>

    <div id="div03" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Estate:</label>
        <select onchange="" name="team">
            <option value="">City One Shatin</option>
            <option value="">City Two Shatin</option>
            <option value="">City Three Shatin</option>
        </select>
    </div>

    <div id="div04" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Gross Area:</label>
        <input type="number" class="form-control" name="House[area]" min="0" max="9999" required>
    </div>

    <div id="div05" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Rent:</label>
        <input type="number" class="form-control" name="House[rent]" min="0" max="999999" required>
    </div>

    <div id="div06" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Image URL:</label>
        <input type="text" class="form-control" name="House[URL]" required>
    </div>

    <div id="div07" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Bedrooms:</label>
        <input type="number" class="form-control" name="House[bedrooms]" min="0" max="9" required>

    </div>

    <div id="div08" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
        <label>Expected Tenants:</label>
        <input type="number" class="form-control" name="House[tenants]" min="0" max="9" required>
    </div>

    <div id="div09" class="card col-12 col-sm-6 col-lg-6 col-xl-6">

    </div>


    <div id="div10" class="card col-12 col-sm-6 col-lg-6 col-xl-6">

    </div>

    <div id="div11" class="card col-12 col-sm-6 col-lg-6 col-xl-6">

    </div>

    <div id="div12" class="card col-12 col-sm-6 col-lg-6 col-xl-6">

    </div>

    <input name="box" type="checkbox" value="dummy">
    <label>Highlighted Property</label>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>







    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="House[name]" required>
    </div>
    <div class="form-group">
        <label>Age</label>
        <input type="number" class="form-control" name="House[age]" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

    
</form>