<!--home.ejs-->

<div class="row">



        <!-- The 12 cards -->

        <div id="div01" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
           
        </div>

        <div id="div02" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
           
        </div>

        <div id="div03" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
           
        </div>

        <div id="div04" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
 
        </div>

        <div id="div05" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
         
        </div>

        <div id="div06" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
           
        </div>

        <div id="div07" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
           

        </div>

        <div id="div08" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
           
        </div>

        <div id="div09" class="card col-12 col-sm-6 col-lg-6 col-xl-6">
          
        </div>


        <div id="div10" class="card col-12 col-sm-6 col-lg-6 col-xl-6">

        </div>

        <div id="div11" class="card col-12 col-sm-6 col-lg-6 col-xl-6">

        </div>

        <div id="div12" class="card col-12 col-sm-6 col-lg-6 col-xl-6">

        </div>
    </div>






