<!-- edit.ejs -->

<table class="table">
    <tr>
        <td><%= house.title %></td>
        <td><%= house.URL %></td>
    </tr>
</table>

<form action="/house/delete/1" method="POST">

    <button type="submit" class="btn btn-danger">delete</button>

</form>


 