<!-- search.ejs -->

<table class="table">
        <tr>
            <td><%= house.title %></td>
            <td><%= house.URL %></td>
        </tr>
    </table>
    
    <form>
    
        <button type="submit" class="btn btn-danger">search</button>
    
    </form>
    