#img1{
    margin: 20px;
    overflow: cover;
    height: 210px;
    width: 210px;
}

.home_table {
    margin: 20px;
    border-collapse: collapse;
}

.home_td {
    height: 60px;
    width: 210px;
    
    border-style: solid;
    border-width: thin;
    border-color: #030000;

    text-align: left;
    vertical-align: center;
}