.page{

    margin: 0px 100px  0px;
    

}

.house_title{

    font-size: x-large;
    padding: 5px;
}

#img1{
    margin: 20px;
    overflow: hidden;
    height: 210px;
    width: 210px;
}

#img2{
    margin: 20px;
    overflow: hidden;
    
    height: 250px;
    width: 430px;
}

.form_style{

    margin: 7px 0px;
    font-size:large;

}

.home_table {
    margin: 20px;
    border-collapse: collapse;
}


.home_td {
    height: 60px;
    width: 410px;

    font-size: 25px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
    border-color: #030000;

    text-align: left;
    vertical-align: center;
}

.view_table {
    margin: 20px;
    border-collapse: collapse;
}


.view_td {
    padding-left: 20px;
    height: 60px;
    width: 300px;
    
    border-style: solid;
    border-width: thin;
    border-color: #b6b6b6;

    text-align: left;
    vertical-align: center;
}
#view_img{
    margin: 20px;
    overflow: cover;
    height: 500px;
    width: 700px;
}


.search_td {
     
    height: 45px;
    width: 500px;
    
    border-style: solid;
    border-width: thin;
    border-color: #5e5c5c;

    text-align: left;
    vertical-align: center;
}